.breadcrumb-container {
    text-align: center; 
    text-transform:uppercase; 
    font-size:36px;
}

.page-header-breadcrumb {
    color: #fff !important;
    font-weight: bold;
    /* font-family: 'Montserrat, Arial'; */
}

.title-color {
    color: #fff !important;
}

.breadcrumb-section {
    text-align: center; 
    text-transform:uppercase; 
    font-size:36px;
}

.title-section {
    color: #fff !important;
    font-weight: bold;
    /* font-family: 'Montserrat, Arial'; */
}